body {
  padding: 0;
  margin: 0;
}

textarea {
  border: 0;
  resize: none;
  outline: none;
}

ul {
  padding-inline-start: 0px;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none !important;
}

.bold {
  font-weight: bold;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-left-10 {
  margin-left: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-fix:after {
  content: '';
  display: table;
  clear: both;
}

.border-bottom {
  border-bottom: 1px solid #f1f1f1;
}

/* 头部组件共用的 */
.nav_left_ul {
  display: flex;
  height: 50px;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: center;
}

.nav_left_ul li.nav-item {
  margin-right: 10px;
}
